<div class="row">
  <div class="container">

    <div class="col-md-6">

      <h1> ToDos sin finalizar </h1>

      <% @todos.each do |t| %>
        <% if t.completed == false %>
          <ul class="list-group">
          <li class="list-group-item list-group-item-danger"> <%= t.description %> </li>
          </ul>
        <% end %>
      <% end %>

    </div>

    <div class="col-md-6">

      <h1> ToDos finalizados </h1>

      <% @todos.each do |t| %>
        <% if t.completed %>
          <ul class="list-group">
          <li class="list-group-item list-group-item-success"> <%= t.description %> </li>
          </ul>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
